<header class="todo-lists-header">
  <h1>Listas To Do</h1>

  <%= link_to new_todo_list_path do %>
    <button class="button">
      <i class="fa fa-plus dark-icon"></i>
      Adicionar Lista
    </button>
  <% end %>
</header>

<%= render 'todo_list', status: 'Em Andamento', todo_lists: @todo_lists.reject(&:done) %>

<%= render 'todo_list', status: 'Finalizadas', todo_lists: @todo_lists.select(&:done) %>