/*
 *= require font-awesome
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --background-color: #1a1a1a;
  --text-color: #fafafa;
  --card-background-color: #1f1f1f;
  --card-border-color: #242424;
  --card-box-shadow-color: rgba(0, 0, 0, 0.12);
  --light-gray-color: #818181;
  --divider-color: #333333;
  --high-priority-tag-color: #b90000;
  --high-priority-tag-background-color: rgba(252, 135, 135, 0.2);
  --high-priority-tag-border-color: rgb(185, 0, 0, 0.3);
  --medium-priority-tag-color: #c69e11;
  --medium-priority-tag-background-color: rgba(244, 226, 130, 0.2);
  --medium-priority-tag-border-color: rgb(198, 158, 17, 0.3);
  --low-priority-tag-color: #1675b4;
  --low-priority-tag-background-color: rgba(135, 201, 252, 0.2);
  --low-priority-tag-border-color: rgb(22, 117, 180, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.05rem;
  color: var(--text-color);
}

body {
  margin: auto;
  padding: 0 1rem;
  max-width: 1000px;
  background: var(--background-color);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
}

.dark-icon {
  color: var(--background-color);
}

.gray-icon {
  color: var(--light-gray-color);
}

.button,
.text-button,
.button-link {
  padding: 10px;
  border-radius: 6px;
  background-color: var(--text-color);
  color: var(--background-color);
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.text-button,
.button-link {
  background-color: transparent;
}

.button-link {
  width: 100%;
}

.link {
  text-decoration: none;
  font-size: medium;
  font-weight: normal;
}

.todo-lists-header,
.list-items-header,
.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.5rem 0rem;
}

.todo-list-container {
  margin-bottom: 1rem;
}

.todo-list-status {
  text-transform: uppercase;
  font-size: 14px;
  color: var(--light-gray-color);
}

.todo-list-ul,
.list-item-ul {
  display: grid;
  grid-template-areas: "1fr";
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.todo-list-ul {
  margin-top: 0.5rem;
}

.todo-list-li,
.list-item-li {
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 12px 8px;
  background-color: var(--card-background-color);
  border: 1px solid var(--card-border-color);
  box-shadow: 0px 1px 6px var(--card-box-shadow-color);
}

.todo-list-li:hover {
  background-color: var(--card-border-color);
  transition: 0.2s ease-in-out;
}

.todo-list-title-container,
.list-item-title-container,
.form-title-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
}

.todo-list-color {
  width: 2px;
  height: 34px;
  border-radius: 4px;
}

.todo-list-link-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 100%;
}

.todo-list-link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 600;
}

.list-item-title {
  font-weight: 600;
}

.list-item-details {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem 0 0 24px;
  font-size: 14px;
}

.list-item-date-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.list-item-date {
  color: var(--light-gray-color);
}

.vertical-divider {
  width: 1px;
  height: 14px;
  border-radius: 2px;
  background: var(--divider-color);
}

.todo-list-options,
.list-item-options {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.list-items-title-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.checked-list-item-title {
  color: var(--light-gray-color);
  font-weight: 600;
  text-decoration: line-through;
}

.list-item-info-container {
  display: block;
}

.unchecked-button,
.checked-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  background-color: var(--text-color);
  border: 1px solid var(--card-border-color);
  cursor: pointer;
}

.high-priority-tag,
.medium-priority-tag,
.low-priority-tag {
  border-radius: 4px;
  padding: 2px 6px;
  font-weight: 500;
  font-size: 12px;
}

.high-priority-tag {
  color: var(--high-priority-tag-color);
  background-color: var(--high-priority-tag-background-color);
  border: 1px solid var(--high-priority-tag-border-color);
}

.medium-priority-tag {
  color: var(--medium-priority-tag-color);
  background-color: var(--medium-priority-tag-background-color);
  border: 1px solid var(--medium-priority-tag-border-color);
}

.low-priority-tag {
  color: var(--low-priority-tag-color);
  background-color: var(--low-priority-tag-background-color);
  border: 1px solid var(--low-priority-tag-border-color);
}

.back-button {
  padding: 6px 10px;
  border-radius: 6px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

/* FORM */
.form-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 12px;
  border-radius: 6px;
  background-color: var(--card-background-color);
  border: 1px solid var(--card-border-color);
  box-shadow: 0px 1px 6px var(--card-box-shadow-color);
}

.form-field-container,
.form-radio-container {
  display: grid;
  grid-template-areas: "1fr" "1fr";
  gap: 0.3rem;
}

.form-checkbox-container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}

.form-date-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.3rem;
}

.form-label {
  padding: 0.3rem 0;
  font-size: 14px;
  color: var(--light-gray-color);
  text-transform: uppercase;
}

.form-textfield,
.form-datefield {
  color: var(--text-color);
  padding: 10px;
  border-radius: 6px;
  border: 2px solid var(--card-border-color);
  background-color: transparent;
}

.form-datefield::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.form-actions-container {
  margin-top: 2rem;
}

.color-options {
  display: flex;
  gap: 2rem;
}

.color-option-container {
  display: flex;
  gap: 0.5rem;
}

.color-label {
  width: 14px;
  height: 14px;
  border: 6px;
}

.priority-options {
  display: flex;
  gap: 2rem;
}
